﻿@model PagedList.IPagedList<WebApplicationDados.Models.DadosAgrupados>
@{
    ViewBag.Title = "Apresentação dos dados Agrupados";
}

<div class="cells__number">ID</div>

@for (var ind = 1; ind <= Model.Count(); ind++)
{
    <div class="cells__number">@ind</div>
}

@if (@Request.Params["grupo"] == "C")
{
    <input class="cells__input text-bold" value="Conta" readonly />
}

@if (@Request.Params["grupo"] == "A")
{
    <input class="cells__input text-bold" value="Ativo" readonly />
}

@if (@Request.Params["grupo"] == "T")
{
    <input class="cells__input text-bold" value="Tipo Operação" readonly />
}
<input class="cells__input text-bold" value="Preço Médio" readonly />
<input class="cells__input text-bold" value="Quantidade" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />

@foreach (var item in Model)
{
    <input class="cells__input" value="@item.Agrupador" readonly />
    <input class="cells__input" value="@item.PrecoMedio" readonly />
    <input class="cells__input" value="@item.Quantidade" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
}

<div class="float-container">
    <div class="glyphicon-plus"></div>
    @for (var ind = 1; ind <= Model.PageCount; ind++)
    {
        if (ind == Model.PageNumber)
        {
            <div class="page-bottom selected">
                <a href="/Home/Group?grupo=@Request.Params["grupo"]&amp;page=@ind">Pagina @ind</a>
            </div>
        }
        else
        {
            <div class="page-bottom">
                <a href="/Home/Group?grupo=@Request.Params["grupo"]&amp;page=@ind">Pagina @ind</a>
            </div>
        }
    }
</div>

<a id="link" style="display:none;" download></a>

<script type="text/javascript">
    function carregaDownload() {
        var html = '' +
            '<span class="exportfile" onclick="javascript:DispararMessagemExcel()">Exportar para Excel</span>' +
            '<span class="exportfile" onclick="javascript:DispararMessagemCsv()">Exportar para CSV</span>' +
            '<span class="exportfile" onclick="javascript:DispararMessagemPdf()">Exportar para PDF</span>';
        $("div.export").html(html);
    }

    function ExportarExcel() {
        $("#link").attr("href", "/Home/ExportToExcelAgrupado?grupo=@Request.Params["grupo"]");
        document.getElementById("link").click();
    }

    function ExportarExcelPaginado() {
        $("#link").attr("href", "/Home/ExportToExcelAgrupadoPaginado?grupo=@Request.Params["grupo"]&pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }

    function ExportarCsv() {
        $("#link").attr("href", "/Home/ExportToCsvAgrupado?grupo=@Request.Params["grupo"]");
        document.getElementById("link").click();
    }

    function ExportarCsvPaginado() {
        $("#link").attr("href", "/Home/ExportToCsvAgrupadoPaginado?grupo=@Request.Params["grupo"]&pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }

    function ExportarPdf() {
        $("#link").attr("href", "/Home/ExportToPdfAgrupado?grupo=@Request.Params["grupo"]");
        document.getElementById("link").click();
    }

    function ExportarPdfPaginado() {
        $("#link").attr("href", "/Home/ExportToPdfAgrupadoPaginado?grupo=@Request.Params["grupo"]&pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }
</script>