﻿@model PagedList.IPagedList<WebApplicationDados.Models.Dados>
@{
    ViewBag.Title = "Apresentação dos dados";
}

<div class="cells__number">ID</div>

@foreach (var item in Model)
{
    <div class="cells__number">@item.id</div>
}

<input class="cells__input text-bold" value="Data" readonly />
<input class="cells__input text-bold" value="Tipo Operação" readonly />
<input class="cells__input text-bold" value="Ativo" readonly />
<input class="cells__input text-bold" value="Quantidade" readonly />
<input class="cells__input text-bold" value="Preço" readonly />
<input class="cells__input text-bold" value="Conta" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />
<input class="cells__input" readonly />

@foreach (var item in Model)
{
    <input class="cells__input" value="@item.dateTime" readonly />
    <input class="cells__input" value="@item.tipoOperacao" readonly />
    <input class="cells__input" value="@item.ativo" readonly />
    <input class="cells__input" value="@item.quantidade" readonly />
    <input class="cells__input" value="@item.preco" readonly />
    <input class="cells__input" value="@item.conta" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
    <input class="cells__input" readonly />
}

<div class="float-container">
    <div class="glyphicon-plus"></div>
    @for (var ind = 1; ind <= Model.PageCount; ind++)
    {
        if (ind == Model.PageNumber)
        {
            <div class="page-bottom selected">
                <a href="/?page=@ind">Pagina @ind</a>
            </div>
        }
        else {
            <div class="page-bottom">
                <a href="/?page=@ind">Pagina @ind</a>
            </div>
        }
    }
</div>

<a id="link" style="display:none;" download></a>

<script type="text/javascript">
    function carregaDownload() {
        var html = '' +
            '<span class="exportfile" onclick="javascript:DispararMessagemExcel()">Exportar para Excel</span>' +
            '<span class="exportfile" onclick="javascript:DispararMessagemCsv()">Exportar para CSV</span>' +
            '<span class="exportfile" onclick="javascript:DispararMessagemPdf()">Exportar para PDF</span>';
        $("div.export").html(html);
    }

    function ExportarExcel() {
        $("#link").attr("href", "/Home/ExportToExcel");
        document.getElementById("link").click();
    }

    function ExportarExcelPaginado() {
        $("#link").attr("href", "/Home/ExportToExcelPaginado?pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }

    function ExportarCsv() {
        $("#link").attr("href", "/Home/ExportToCsv");
        document.getElementById("link").click();
    }

    function ExportarCsvPaginado() {
        $("#link").attr("href", "/Home/ExportToCsvPaginado?pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }

    function ExportarPdf() {
        $("#link").attr("href", "/Home/ExportToPdf");
        document.getElementById("link").click();
    }

    function ExportarPdfPaginado() {
        $("#link").attr("href", "/Home/ExportToPdfPaginado?pagina=@Model.PageNumber");
        document.getElementById("link").click();
    }
</script>