﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Excel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="loadingDiv-parent">
        <div class="loadingDiv">
            <div class="card border-success">
                <div class="card-header">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="card-body">
                    <span id="panelclose_btn"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="title" id="title">Book1 - Excel</div>
        <div class="menu-bar">
            <div><span>File</span></div>
            <div><span><a href="/">Home</a></span></div>
            <div><span>Insert</span></div>
            <div><span>Page Layout</span></div>
            <div><span>Formulas</span></div>
            <div><span>Data</span></div>
            <div><span>Review</span></div>
            <div><span>View</span></div>
            <div><span>Help</span></div>
        </div>
        <div class="icon-bar">
            <div class="icon-bar__clipboard">
                <div class="icon-paste">
                    <div class="icon"></div><span>Paste</span>
                </div>
                <div class="icon icon-cut"></div>
                <div class="icon icon-copy"></div>
                <div class="icon-bar__name">Clipboard</div>
            </div>
            <div class="icon-bar__font">
                <select class="font-name">
                    <option selected="selected">Noto Sans</option>
                    <option style="--font:Arial">Arial</option>
                    <option style="--font:Calibri">Calibri</option>
                    <option style="--font:Comic Sans MS">Comic Sans MS</option>
                    <option style="--font:Courier New">Courier New</option>
                    <option style="--font:Impact">Impact</option>
                    <option style="--font:Georgia">Georgia</option>
                    <option style="--font:Garamond">Garamond</option>
                    <option style="--font:Lato">Lato</option>
                    <option style="--font:Open Sans">Open Sans</option>
                    <option style="--font:Palatino">Palatino</option>
                    <option style="--font:Verdana">Verdana</option>
                </select>
                <select class="font-size">
                    <option selected="selected">14</option>
                    <option>16</option>
                    <option>18</option>
                    <option>20</option>
                    <option>22</option>
                    <option>24</option>
                    <option>26</option>
                    <option>28</option>
                    <option>36</option>
                    <option>48</option>
                    <option>72</option>
                </select>
                <div class="icon icon-bold"></div>
                <div class="icon icon-italic"></div>
                <div class="icon icon-underline"></div>
                <div class="icon icon-border"></div>
                <div class="icon icon-fill"></div>
                <div class="icon icon-color"></div>
                <div class="icon-bar__name">Font</div>
            </div>
            <div class="icon-bar__alignment">
                <div class="icon icon-alignt"></div>
                <div class="icon icon-alignm"></div>
                <div class="icon icon-alignb"></div>
                <div class="icon icon-orientation"></div>
                <div class="icon icon-alignl"></div>
                <div class="icon icon-alignc"></div>
                <div class="icon icon-alignr"></div>
                <div class="icon icon-indentinc"></div>
                <div class="icon icon-indentdec"></div>
                <div class="wrap-text">
                    <div class="icon"></div><span>Wrap Text</span>
                </div>
                <div class="merge-center">
                    <div class="icon"></div><span>Merge & Center</span>
                </div>
                <div class="icon-bar__name">Alignment</div>
            </div>
            <div class="icon-bar__number">
                <select class="number-format" onchange="AgrupaPor(this)">
                    <option value="N">Agrupar Por:</option>
                    <option value="C">Conta</option>
                    <option value="A">Ativo</option>
                    <option value="T">Tipo Operação</option>
                </select>
                <div class="icon icon-acc"></div>
                <div class="icon icon-percent"></div>
                <div class="icon icon-comma"></div>
                <div class="icon icon-decimalinc"></div>
                <div class="icon icon-decimaldec"></div>
                <div class="icon-bar__name">Number</div>
            </div>
            <div class="icon-bar__styles">
                <div class="conditional">
                    <div class="icon"></div>
                </div>
                <div class="format-table">
                    <div class="icon"></div>
                </div>
                <div class="cell-style">
                    <div class="icon"></div>
                </div>
                <div class="icon-desc">Conditional Formatting</div>
                <div class="icon-desc">Format as Table</div>
                <div class="icon-desc">Cell Styles</div>
                <div class="icon-bar__name">Styles</div>
            </div>
            <div class="icon-bar__cells">
                <div class="cell-insert">
                    <div class="icon"></div>
                </div>
                <div class="cell-delete">
                    <div class="icon"></div>
                </div>
                <div class="cell-format">
                    <div class="icon"></div>
                </div>
                <div class="icon-desc">Insert</div>
                <div class="icon-desc">Delete</div>
                <div class="icon-desc">Format</div>
                <div class="icon-bar__name">Cells</div>
            </div>
        </div>
        <div class="cell-content">
            <div>fx</div>
            <div class="export"></div>
        </div>
        <div class="cells">
            <div class="cells__spacer"></div>
            <div class="cells__alphabet">A</div>
            <div class="cells__alphabet">B</div>
            <div class="cells__alphabet">C</div>
            <div class="cells__alphabet">D</div>
            <div class="cells__alphabet">E</div>
            <div class="cells__alphabet">F</div>
            <div class="cells__alphabet">G</div>
            <div class="cells__alphabet">H</div>
            <div class="cells__alphabet">I</div>
            <div class="cells__alphabet">J</div>
            <div class="cells__alphabet">K</div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(window).on('load', function () {
            $(".loadingDiv-parent").fadeOut("slow");
            carregaDownload();
            $("#title").html("Book1 - Excel");
        });
        $(window).on('beforeunload', function () {
            $(".loadingDiv-parent").fadeIn(50);
            $("#title").html("Carregando ... Aguarde");
        });

        function AgrupaPor(obj) {
            debugger;
            var selecao = obj.options[obj.options.selectedIndex].value;
            console.log('Selecionado: ' + selecao);
            if (selecao != "N")
                window.location.href = "/Home/Group?grupo=" + selecao;
            else
                alert("Por favor selecione uma das outras opções!");
        }

        function DispararMessagemExcel() {
            $.confirm({
                title: 'Excel',
                content: 'Deseja exportar a página atual ou todos os registros?',
                buttons: {
                    all: {
                        text: 'Todos',
                        action: function () {
                            ExportarExcel();
                        }
                    },
                    page: {
                        text: 'Página atual',
                        action: function () {
                            ExportarExcelPaginado();
                        }
                    }
                }
            });
        }

        function DispararMessagemCsv() {
            $.confirm({
                title: 'CSV',
                content: 'Deseja exportar a página atual ou todos os registros?',
                buttons: {
                    all: {
                        text: 'Todos',
                        action: function () {
                            ExportarCsv();
                        }
                    },
                    page: {
                        text: 'Página atual',
                        action: function () {
                            ExportarCsvPaginado();
                        }
                    }
                }
            });
        }

        function DispararMessagemPdf() {
            $.confirm({
                title: 'PDF',
                content: 'Deseja exportar a página atual ou todos os registros?',
                buttons: {
                    all: {
                        text: 'Todos',
                        action: function () {
                            ExportarPdf();
                        }
                    },
                    page: {
                        text: 'Página atual',
                        action: function () {
                            ExportarPdfPaginado();
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>
